@use 'styles/utils/mixins';
@import 'styles/utils/variables';

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.grid-item {
  margin: 1rem;

  @include mixins.mq(tablet) {
    width: calc((100% - 4rem) / 2);
    height: 300px;
  }

  @include mixins.mq(desktop) {
    width: calc((100% - 6rem) / 3);
    height: 400px;
  }

  & img {
    object-fit: cover;
    width: 100%;
  }
}

///// BUTTONS /////
.btn-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;

  @include mixins.mq(tablet) {
    flex-direction: row;
    justify-content: center;
  }
}

.btn-iso {
  padding: 5px 20px;
  cursor: pointer;

  justify-content: center;
  align-items: center;
  gap: 1rem;

  height: 40px;
  width: fit-content;
  background-color: transparent;
  border: none;
  color: get-color('dark');

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover {
    font-weight: 600;
  }
}
