@use 'styles/utils/mixins';
@import 'styles/utils/variables';

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.grid-item {
  margin: 1rem;

  @include mixins.mq(tablet) {
    width: calc((100% - 4rem) / 2);
    height: 300px;
  }

  @include mixins.mq(desktop) {
    width: calc((100% - 6rem) / 3);
    height: 400px;
  }

  & img {
    object-fit: cover;
    width: 100%;
  }
}

.link-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;

  @include mixins.mq(tablet) {
    flex-direction: row;
    justify-content: center;
  }
}
