@use 'styles/utils/mixins';

.wrapper {
  width: 100%;

  .content img {
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 20px;

    @include mixins.mq(desktop) {
      width: 700px;
      height: 500px;
      object-fit: cover;
      margin: 0 auto 20px;
    }
  }

  h3 {
    margin-bottom: 1rem;
  }
}
