@use 'styles/utils/mixins';
@import 'styles/utils/variables';

.form {
  width: 100%;
  margin-top: 4rem;

  @include mixins.flex(center, center);
  flex-direction: column;
  gap: 8px;

  &-heading {
    margin-bottom: 1rem;
  }

  label {
    width: 100%;
  }

  label:not(.checkbox-label) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .checkbox-text {
    margin-left: 0.6rem;
  }
  &__input {
    width: 100%;
    padding: 10px;
    margin: 0.4rem 0;
  }

  &__textarea {
    @extend .form__input;
    resize: none;
    height: 100px;
  }

  .button {
    margin-top: 1rem;

    &[disabled] {
      background-color: #ced4da;
      color: #6c757d;
      cursor: not-allowed;
    }
  }

  .error-message {
    width: 100%;
    color: get-color('primary');
    font-size: 14px;
    line-height: 14px;
  }
}
