@use 'styles/utils/mixins';
@import 'styles/utils/variables';

.contact {
  &__container {
    @include mixins.flex(flex-start, flex-start);
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;

    @include mixins.mq(desktop) {
      flex-direction: row;
      gap: 4rem;
      justify-content: flex-start;
    }
  }

  &__text {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    @include mixins.flex(center);
    width: 100%;
    gap: 2rem;

    @include mixins.mq(desktop) {
      width: 50%;
    }
  }
}
